# disabling detection for configuration files used in pre-commit and/or CI/CD
.ansible-lint -linguist-detectable
.commitlintrc.js -linguist-detectable
.gitattributes -linguist-detectable
.github/** -linguist-detectable
kics.config -linguist-detectable
.markdown-link-check.json -linguist-detectable
.markdownlintignore -linguist-detectable
.markdownlint.yml -linguist-detectable
.pre-commit-config.yaml -linguist-detectable
.pyspelling -linguist-detectable
release.config.js -linguist-detectable
.yamllint -linguist-detectable

# enable detection for Ansible related YAML and Jinja2 paths
defaults/** linguist-detectable
handlers/** linguist-detectable
meta/** linguist-detectable
vars/** linguist-detectable
tasks/** linguist-detectable
templates/** linguist-detectable

# explicitly marking paths where Python can be found in a role as detectable
library/** linguist-detectable
module_utils/** linguist-detectable
lookup_plugins/** linguist-detectable
