---
name: 'gitleaks'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'
  push: {}
  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  gitleaks:
    name: 'gitleaks'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6' # v2.8.1
        with:
          egress-policy: 'block'
          disable-sudo: true
          allowed-endpoints: >
            api.github.com:443
            github.com:443
            objects.githubusercontent.com:443

      - name: 'Checkout the repository'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # v4.1.7
        with:
          fetch-depth: 0

      - name: 'Run gitleaks'
        uses: 'gitleaks/gitleaks-action@44c470ffc35caa8b1eb3e8012ca53c2f9bea4eb5' # v2.3.6
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'
...
