---
name: 'markdownlint'
on:  # yamllint disable-line rule:truthy
  pull_request:
    branches:
      - 'main'
  workflow_dispatch: {}

permissions:
  contents: 'read'

jobs:
  build:
    name: 'markdownlint'
    runs-on: 'ubuntu-latest'
    steps:
      - name: 'Harden Runner'
        uses: 'step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6' # v2.8.1
        with:
          egress-policy: 'audit'

      - name: 'Checkout the repository'
        uses: 'actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332' # v4.1.7

      - name: 'Run markdownlint'
        uses: 'nosborn/github-action-markdown-cli@9b5e871c11cc0649c5ac2526af22e23525fa344d' # v3.3.0
        with:
          files: '*.md'
          config_file: '.markdownlint.yml'
          dot: false
...
